---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome</h1>
			<p>
				Hi, I’m Justin, a DevOps engineer and gamer.
			</p>
			<p>
				<ul>
					<li>My code on&nbsp;<a href="https://github.com/cyroth/" target="_blank" rel="noopener noreferrer">Github</a></li>
					<li>Find me on&nbsp;<a href="https://www.linkedin.com/in/justincorfield/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
					<li>My gaming stuff on&nbsp;<a href="https://www.youtube.com/@cyroth" target="_blank" rel="noopener noreferrer">YouTube</a></li>
					<li>My docs&nbsp;<a href="https://cyroth.dev/" target="_blank" rel="noopener noreferrer">site</a></li>
				</ul>
			</p>
		</main>
		<Footer />
	</body>
</html>
