---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Justin Corfield.
	<div class="social-links">
			<a href="https://cyroth.dev" target="_blank">
				<span class="sr-only">Docs</span>
				<svg viewBox="0 0 32 32" aria-hidden="true" width="32" height="32"
					><path
						fill="currentColor"
						d="M29 7.929 21.262.191A.65.65 0 0 0 20.8 0H5.983a3.18 3.18 0 0 0-3.174 3.174v25.652A3.18 3.18 0 0 0 5.983 32h20.034a3.18 3.18 0 0 0 3.174-3.174V8.391A.65.65 0 0 0 29 7.929M21.453 2.23l5.508 5.508h-3.64c-.499 0-.968-.194-1.321-.547a1.86 1.86 0 0 1-.547-1.321zm6.431 26.596a1.87 1.87 0 0 1-1.868 1.868H5.983a1.87 1.87 0 0 1-1.868-1.868V3.174a1.87 1.87 0 0 1 1.868-1.868h14.164V5.87c0 .848.33 1.645.929 2.244s1.397.93 2.244.93h4.564z"/><path d="M17.193 21.968h-.292a.653.653 0 1 0 0 1.306h.292a.653.653 0 1 0 0-1.306m-2.405 0H8.445a.653.653 0 1 0 0 1.306h6.343a.653.653 0 1 0 0-1.306m8.767-2.984H8.445a.653.653 0 1 0 0 1.306h15.11a.653.653 0 1 0 0-1.306m0-2.984H8.445a.653.653 0 1 0 0 1.306h15.11a.653.653 0 1 0 0-1.306m0-2.984H8.445a.653.653 0 1 0 0 1.306h15.11a.653.653 0 1 0 0-1.306"
					></path></svg
				>
			</a>
			<a href="https://discord.gg/VMMWpdsWZE" target="_blank">
				<span class="sr-only">Discord</span>
				<svg viewBox="0 0 32 32" aria-hidden="true" width="32" height="32"
					><path
						fill="currentColor"
						d="M32 16a16 16 0 0 1-16 16A16 16 0 0 1 0 16a16 16 0 0 1 32 0"/><path d="M21.546 10.906a13.2 13.2 0 0 0-3.258-1.01.06.06 0 0 0-.052.026 10 10 0 0 0-.406.832 12.2 12.2 0 0 0-3.658 0 8 8 0 0 0-.412-.832.06.06 0 0 0-.052-.026 13.2 13.2 0 0 0-3.258 1.01.1.1 0 0 0-.022.018c-2.074 3.1-2.642 6.122-2.362 9.106a.06.06 0 0 0 .022.036 13.4 13.4 0 0 0 3.996 2.02.06.06 0 0 0 .056-.018 10 10 0 0 0 .816-1.328.05.05 0 0 0-.028-.07 9 9 0 0 1-1.248-.594.05.05 0 0 1-.006-.086q.128-.096.248-.194a.06.06 0 0 1 .052-.008c2.618 1.196 5.454 1.196 8.042 0a.06.06 0 0 1 .052.006q.12.1.25.196a.05.05 0 0 1-.004.086 8 8 0 0 1-1.25.594.05.05 0 0 0-.026.07 11 11 0 0 0 .816 1.328.06.06 0 0 0 .056.018 13.2 13.2 0 0 0 4-2.02.06.06 0 0 0 .022-.036c.334-3.452-.56-6.448-2.366-9.106a.04.04 0 0 0-.02-.02m-8.196 7.308c-.788 0-1.438-.724-1.438-1.612s.638-1.612 1.438-1.612c.808 0 1.452.73 1.438 1.612.002.89-.638 1.612-1.438 1.612m5.318 0c-.788 0-1.438-.724-1.438-1.612s.638-1.612 1.438-1.612c.808 0 1.452.73 1.438 1.612 0 .89-.63 1.612-1.438 1.612"
					></path></svg
				>
			</a>
		<a href="https://github.com/cyroth" target="_blank">
			<span class="sr-only">Go to my GitHub repo</span>
			<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" astro-icon="social/github"
				><path
					fill="currentColor"
					d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
				></path></svg
			>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
